<nav class="navbar navbar-expand-lg bg-body-primary-100 py-0">
    <div class="container border-bottom border-gray-300 align-items-lg-center py-5 px-2 py-lg-6">
        <a class="navbar-brand me-lg-6 ms-2" href="#">
            <img src="../assets/images/logo.svg" alt="">
        </a>
        <button class="navbar-toggler ms-auto me-1 border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="input-group" style="width: 276px; background-color: transparent;">
                <label class="search-text input-group-text" for="search">搜尋文章</label>
                <input type="text" class="form-control ps-0"  id="search" aria-label="Amount (to the nearest dollar)">
                <a href="#" class="btn border-gray-200 rounded-end-pill border-start-0">
                    <i class="bi bi-search green-200"></i>
                  </a>
                <!-- <button class="btn border-gray-200 rounded-end-pill" type="button" id="button-addon2"
                    style="border-left: 0;">
                    <i class="bi bi-search green-200"></i>
                </button> -->
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center justify-content-between">
                <li class="nav-item">
                    <a class="nav-link py-1 px-4" aria-current="page" href="#">所有文章</a>
                </li>
                <li class="nav-item ms-4" aria-current="page">
                    <a class="nav-link  py-1 px-4" href="#">訂閱方案</a>
                </li>
                <li class="nav-item ms-4" aria-current="page">
                    <a class="nav-link  py-1 px-4" href="#">關於我們</a>
                </li>
                <li class="nav-item ms-4">
                    <a class="btn btn-secondary-200 w-100 py-3 px-5 rounded-pill" href="#" role="button">登入 /
                        註冊</a>
                </li>
            </ul>
        </div>
    </div>
</nav>