<nav class="navbar navbar-expand-lg bg-body-primary-100">
    <div class="container border-bottom align-items-lg-center py-5 px-0 py-lg-6">
        <a class="navbar-brand me-lg-6 ms-2" href="#">
            <img src="../assets/images/logo.svg" alt="">
        </a>
        <button class="navbar-toggler ms-auto me-1 border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="input-group  rounded-circle" style="width: 276px; background-color: #FFFFFF;">
                <input type="text" class="form-control  border-gray-200 rounded-start-pill" placeholder="搜尋文章"
                    aria-label="Recipient's username" aria-describedby="button-addon2" style="border-right: 0;">
                <button class="btn border-gray-200 rounded-end-pill" type="button" id="button-addon2"
                    style="border-left: 0;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#569573">
                        <path
                            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                    </svg>
                </button>
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center justify-content-between">
                <li class="nav-item">
                    <a class="nav-link py-1 px-4" aria-current="page" href="#">所有文章</a>
                </li>
                <li class="nav-item ms-4" aria-current="page">
                    <a class="nav-link  py-1 px-4" href="#">訂閱方案</a>
                </li>
                <li class="nav-item ms-4" aria-current="page">
                    <a class="nav-link  py-1 px-4" href="#">關於我們</a>
                </li>
                <li class="nav-item ms-4">
                    <a class="btn btn-secondary-200 w-100 py-3 px-5 rounded-pill" href="#" role="button">登入 /
                        註冊</a>
                </li>
            </ul>
        </div>
    </div>
</nav>