<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="content.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container mb-lg-10">
      <div class="banner h-auto">
        <picture>
          <source media="(min-width: 992px)" srcset="../assets/images/article-banner.png" />
          <img class="w-100" src="../assets/images/article-banner-sm.png" alt="banner">
        </picture>
      </div>
    </div>

    <section>
      <div class="container mb-lg-7">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <p class="text-accent-200 mb-lg-4">首頁 / 所有文章 / 私人島嶼的露營奇遇記</p>
            <h1 class="mb-lg-3">私人島嶼的露營奇遇記</h1>
            <time datetime="" class="text-gray-300">2024 / 5 / 1</time>
          </div>
        </div>
      </div>
    </section>
    
    <section class="mb-lg-10">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 gradient-overlay">
            <div class="cover"></div>
            <div class=" mb-lg-7">
            <p class="mb-0">嗨！我是秘境尋蹤小編 Elly，很高興能與你分享我這段令人心曠神怡的旅程。這不僅僅是一次旅行，更是一場對自然、對內心的深度體悟，一次重新與大自然連結的奇妙旅程。希望透過我的分享，你也能感受到這份自然之美，並找到一份屬於自己的心靈寧靜。</p><br>
            <p>這段旅程的開始，是從一個遙遠的小島。我對於這片土地的認識，僅止於一些遊記和照片，對於它的神秘感與未知感讓我充滿了好奇。一艘小船，帶著我穿越海浪，穿過風暴，終於抵達了這片被大自然雕琢的寶地。當我踏上這片島嶼的那一刻，心中充滿了震撼與喜悅。</p><br>
            <img src="../assets/images/content-1.png" alt="">
            </div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <p class="text-gray-500">本篇為會員專屬文章，馬上訂閱瀏覽所有內容！</p>
            <a class="btn btn-secondary-200 py-lg-3 ps-lg-4 rounded-pill fs-lg-5" href="#"
                role="button">我要訂閱<i class="bi bi-arrow-right ms-2"></i></a>
          </div>
        </div>
      </div>
    </section>

      <section class="py-lg-10 py-8" >
        <div class="container">
          <div class="row justify-content-center ">
            <div class="col-lg-8 mb-lg-7 mb-4">
              <h2 class="fs-lg-2 fs-4">延伸閱讀</h2>
            </div>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="swiper-content w-100 overflow-hidden">
                  <div class="swiper-wrapper mt-lg-3 mt-9">
                    <div class="swiper-slide content-swipe w-100 ">
                      <div class="mb-lg-7 pb-lg-5 d-flex read-borer w-100 me-10">
                        <picture class="read-swipe">
                          <source media="(min-width: 992px)" srcset="../assets/images/read-1.png" />
                          <img class="w-100" src="../assets/images/read-1-sm.png" alt="" class=" me-5">
                        </picture>
                        
                        <div>
                        <h5>週末說走就走露營記</h5>
                        <p class="mb-0">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...</p>
                        <a href="" class="d-block text-end py-lg-2 fs-5 text-accent-200 fw-bold font-Newsreader pe-lg-5">Read More</a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide content-swipe justify-content-center w-100 ">
                      <div class="mb-lg-7 pb-lg-5 d-flex read-borer w-100">
                        <img src="../assets/images/read-1.png" alt="" class="read-swipe me-5">
                        <div>
                        <h5>週末說走就走露營記</h5>
                        <p class="mb-0">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...</p>
                        <a href="" class="d-block text-end py-lg-2 fs-5 text-accent-200 fw-bold font-Newsreader pe-lg-5">Read More</a>
                      </div>
                      </div>
                    </div>
                    <div class="swiper-slide content-swipe justify-content-center w-100 ">
                      <div class="mb-lg-7 pb-lg-5 d-flex read-borer w-100">
                        <img src="../assets/images/read-1.png" alt="" class="read-swipe me-5">
                        <div>
                        <h5>週末說走就走露營記</h5>
                        <p class="mb-0">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...</p>
                        <a href="" class="d-block text-end py-lg-2 fs-5 text-accent-200 fw-bold font-Newsreader pe-lg-5">Read More</a>
                      </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
                </div>
              </div>
              </div>
            </div>
          </div>
    </section>

      


    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
